<?php

$fileHeaderComment = <<<COMMENT
This file is part of the TSantos Serializer package.
 
(c) Tales Santos <tales.augusto.santos@gmail.com>
 
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
COMMENT;

$finder = PhpCsFixer\Finder::create()
    ->in(['src', 'tests'])
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setUsingCache(false)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit60Migration:risky' => true,
        'php_unit_namespaced' => true,
        'php_unit_test_annotation' => ['style' => 'annotation'],
        'strict_param' => true,
        'declare_strict_types' => true,
        'final_internal_class' => true,
        'fully_qualified_strict_types' => true,
        'is_null' => true,
        'native_function_invocation' => true,
        'ordered_imports' => true,
        'array_syntax' => ['syntax' => 'short'],
        'header_comment' => ['header' => $fileHeaderComment, 'separate' => 'both'],
        'linebreak_after_opening_tag' => true,
        'mb_str_functions' => true,
        'no_php4_constructor' => true,
        'no_unreachable_default_argument_value' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'php_unit_strict' => true,
        'phpdoc_order' => true,
        'semicolon_after_instruction' => true,
        'strict_comparison' => true,
    ])
    ->setFinder($finder)
    ->setUsingCache(true)
;
